.app{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background-color: rgb(136, 232, 221);
}

.pages{
    text-align: center;
    justify-content: center;
    height: 550px;
    width: 35%;
    box-shadow: 11px 12px;
    padding-top: 30px;
    border-radius: 60px;
    background-color: rgb(224, 243, 244);
}